/* RAM's GLOBALS */

/* try this property at some point object-fit: contain; */
#counter {
  color: #FFBF00;
  justify-content:center;
  padding: 20px;
  font-family: '60s Scoreboard', sans-serif;
  font-size: 50%;                                             
}



.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.invisible {
  transition: all .5s ease-in-out;
  opacity: 0;
}

.flex10 {
  flex: 10;
}

.scoreboard {
  flex-grow: 20;
  width: max-content;
}

.center {
  align-items: center;
  justify-content: center;
  flex: 2 1 auto;
}

.hand {
  max-width: 100px;
  object-fit: contain;
  display: inline-block;
  margin:auto;
  padding: 20px;
}

#mainDiv {
  background: url("./Art/twilightGradient.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-self: auto;
}

.divSpacer {
  display: flex;
  flex-direction: row;
  height: 300px;
}

#bottomBanner {
  color: purple;
  text-align: center;
  font-family: "Lobster";
  font-size: 200%;
}

.lightBlue {
  background-color: aquamarine;
}

#titleDivRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: auto;
  text-align: center;
  padding: 40px;
}

.titleBackground {
  background-color: blanchedalmond;
}

#titleLine {
  font-family: "Lobster";
  font-size: 400%;
  color: hotpink;
}

.lose {
  font-family: '60s Scoreboard', sans-serif;
  font-size: 400%;
  color: red;
  padding: 10px;
}

.win {
  font-family: '60s Scoreboard', sans-serif;
  font-size: 400%;
  color: white;
  padding: 10px;
}

.tie {
  font-family: '60s Scoreboard', sans-serif;
  font-size: 400%;
  color: orange;
  padding: 10px;
}

#titleTagline {
  font-family: "Lobster";
  font-size: 150%;
  font-weight:1;
  color: blanchedalmond;
}

.twilight {
  background-color: #39CCCC;
}


/* MOON MOON MOON */

#moon {
  max-width: 300px;
}

/* WHALE WHALE WHALE WHALE WHALE WHALE WHALE WHALE */
 .divWhale {
  height: 20%;
  margin: auto;
  display: grid;
  transition: all .2s ease-in-out;
}

#divWhaleGems {
  height: 10%;
  margin: auto;
  display: grid; 
  transition: all .2s ease-in-out;
  object-fit: contain;
  place-items: center;
  transition: all .5s ease-in-out;
}

#scoreboardLights {
  height: 10%;
  margin: auto;
  display: grid; 
  transition: all .2s ease-in-out;
  object-fit: contain;
  place-items: center;
  transition: all .5s ease-in-out;
}

.whaleGem {
  grid-column: 1;
  grid-row: 1;
  max-width: 10%;
  padding: 1% 0;
  transition: all .75s ease-in-out;
}

.whaleMoon {
  grid-column: 1;
  grid-row: 1;
  max-width: 10%;
  padding: 1% 0;
  transition: all .75s ease-in-out;
}

.divWhale:hover {
  transform: scale(1.1);
}

#whale_swimming {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  transition: all .15s ease-in-out;
}

#whale_swimming:hover {
  opacity: 1;
}

.gridBase {
  max-width: 10%;
  padding: 5% 0;
}


#whale_empty {
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  transition: all .15s ease-in-out;
}

#whale_screaming {
  grid-column: 1;
  grid-row: 1;
  opacity: 1;
  transition: all .15s ease-in-out;
}

#whale_screaming:hover {
  opacity: 0;
}

.whale {
  max-width: 400px;
}

#seagull {
  object-fit: contain;
}

.divSeagull {
  max-height: 200px;
  
}



/* GEMS GEMS GEMS GEMS GEMS GEMS GEMS GEMS GEMS GEMS */

#divGems {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gemstone {
  max-width: 50%;
  margin: auto;
  padding: 5% 0;
  display: inline-block;
  animation: wiggle 1s infinite;
  flex: 1;
  object-fit: contain;
}

.gemstone:Hover {
  animation-play-state: paused;
}

.gemstoneBulge {
  transition: all .15s ease-in-out;
}

.gemstoneBulge:hover {
  transform: scale(1.5);
}

/* ANIMATIONS */

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(5deg); }
 95% { transform: rotate(-5deg); }
100% { transform: rotate(0deg); }
10%, 90% {
  transform: translate3d(-1px, 0, 0);
}

20%, 80% {
  transform: translate3d(2px, 0, 0);
}

30%, 50%, 70% {
  transform: translate3d(-4px, 0, 0);
}

40%, 60% {
  transform: translate3d(4px, 0, 0);
}
}

/* INHERITED RULES */

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--txt-grey);
}

h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.1;
  margin-top: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}





